MODEL_DEPLOYMENT_NAME="gpt-4o"
BING_CONNECTION_NAME="groundingwithbingsearch"
PROJECT_CONNECTION_STRING="eastus2.api.azureml.ms;e153d71e-8827-42e6-bbf8-98fd1d7b5f8d;rg-contoso-agent-workshop;ai-agent-workshop-bo37"